<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyw.mapper.BuyProductCommentMapper" >
  <resultMap id="BaseResultMap" type="com.gyw.bean.BuyProductComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="messagescore" property="messagescore" jdbcType="INTEGER" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="DATE" />
    <association property="user" javaType="com.gyw.bean.BuyUser">
      <id column="uid" property="id" jdbcType="INTEGER" />
      <result column="loginName" property="loginname" jdbcType="VARCHAR" />
      <result column="userName" property="username" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="sex" property="sex" jdbcType="INTEGER" />
      <result column="identityCode" property="identitycode" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="mobile" property="mobile" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="INTEGER" />
      <result column="status" property="status" jdbcType="INTEGER" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, uid, message, messagescore, isDelete, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from easybuy_product_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--根据商品好查看好评差评的数量-->
  <select id="findProductCommentNumBiPid" resultType="map" parameterType="int">
    select count(1) as qpl,
    (select count(1) from easybuy_product_comment where pid = #{value } and messagescore >3) as hps,
    (select count(1) from easybuy_product_comment where pid = #{value } and messagescore =3) as zps,
    (select count(1) from easybuy_product_comment where pid = #{value } and messagescore &lt;3) as cps
    from easybuy_product_comment where pid = #{value };
  </select>

  <!--根据商品id查看所有评论-->
  <select id="findAllCommentByPid" parameterType="int" resultMap="BaseResultMap">
    select * from easybuy_product_comment pc, easybuy_user u where pid = #{value } and pc.uid = u.id ORDER BY pc.messagescore desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from easybuy_product_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gyw.bean.BuyProductComment" >
    insert into easybuy_product_comment (id, pid, uid, 
      message, messagescore, isDelete, 
      createdate)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{message,jdbcType=VARCHAR}, #{messagescore,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, 
      #{createdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.gyw.bean.BuyProductComment" >
    insert into easybuy_product_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="messagescore != null" >
        messagescore,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="messagescore != null" >
        #{messagescore,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gyw.bean.BuyProductComment" >
    update easybuy_product_comment
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="messagescore != null" >
        messagescore = #{messagescore,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gyw.bean.BuyProductComment" >
    update easybuy_product_comment
    set pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      messagescore = #{messagescore,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>